# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
*.idea/

# VS Code (Optional: Uncomment if you don't want VS Code settings in Git)
#.vscode/

# Flutter / Dart / Pub Related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.pub-cache/
.pub/
/build/
.melos/

# macOS Related
**/.DS_Store
**/.localized
**/.fseventsd
**/.Spotlight-V100

# Windows Related
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Android Related
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.idea/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/gradle/
/android/app/google-services.json
/android/key.properties

# iOS Related
ios/.generated
ios/.symlinks/
/ios/Pods/
/ios/.dart_tool/
/ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/*.xcworkspace
ios/Flutter/*.xcodeproj
ios/Flutter/*.xcodeproj/*

# Web Related
web/.dart_tool/
web/.firebase/

# Firebase Related
firebase.json
*.firebaserc
**/google-services.json
**/GoogleService-Info.plist

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Lock Files (Prevents unnecessary conflicts)
pubspec.lock
package-lock.json